<div class="btn-container">
  <div class="center">
    <button class="button-37" role="button" onclick="location.href='/user/singin'">Sing in</button> or <button class="button-37" role="button" onclick="location.href='/user/singup'">Sing up</button>
  </div>
</div>