<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <link rel="icon" id="favicon" href="/img/icon/favicon.svg?v=0.1"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	{% block info_head %}
    	<meta name="description" content="One Shot">
    	<meta name="author" content="">
    	<title>One Shot</title>
    {% endblock %}
	
	{% block css %} {% endblock %}
	<!--[if IE 9]>
		<script src="/js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="/js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
	<![endif]-->
    {% block scripts %} {% endblock %}
	<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>

</head>

<body id="home">
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">One Shot</a>
			</div>
			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('IS_AUTHENTICATED_FULLY')%}
					<li class="menuItem"><a href="/user/singout">Sing Out</a></li>
					<li class="menuItem"><a href="/user/{{ app.user.userIdentifier }}/edit">Profile</a></li>
				{% else %}
					<li class="menuItem"><a href="/user/singin">Sing In</a></li>
					<li class="menuItem"><a href="/user/singup">Sing Up</a></li>
				{% endif %}
				</ul>
			</div>
		</div>
	</nav> 
	<div id="content" class="content-section-b" style="border-top: 0">

		<div class="container">
			<div class="row">
			{% for message in app.flashes('success') %}
              <div class="alert alert-success">
                {{ message }}
              </div>
            {% endfor %}
			<div class="col-md-12">
				{% block content_title %} {% endblock %}
			</div>
			<div {{ react_component('MyComponent', { 'fullName': app.user.userIdentifier }) }}></div>
            {% block content %} {% endblock %}		
			</div>
		</div>
	</div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
		   
          </div> <!-- /col-xs-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">One Shot</h3>
              <ul>
				 <li><a href="/cookies">Política de privacidad</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
	{% block footer_scripts %} {% endblock %}
</body>

</html>